@import url('https://fonts.googleapis.com/css?family=Ubuntu');

:focus {
  outline: none;
}

body {
  background: black;
  color: #444;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  line-height: 28px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 28px;
  margin: 15px;
}

h3 {
  font-size: 20px;
  color: #ccc;
  margin: 28px 0 0 0;
}

p {
  margin: 5px 0;
}

a.button {
  font-family: 'Ubuntu', sans-serif;
  display: block;
  width: 115px;
  height: 25px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin: 5px;
  line-height: 20px;
  font-size: 20px;
  text-decoration: none;
  align-self: center;
  opacity: 1;
}

a.button:hover {
  opacity: 0.7;
}

a {
 color: white;
 background: #4E9CAF;
 text-decoration: none;
 padding: 4px;
 border-radius: 2px 4px;
 opacity: 0.7;
}

a:hover {
  opacity: 1;
}

b {
  color: #FF8944;
}

video {
  width: 100%;
}

.center {
  display: flex;
  flex-direction: column;
}

.bg1 {
  background-color: #FF8944;
}

.bg2 {
  background-color: #4E9CAF;
}

.tr {
  position: absolute;
  top: 18px;
  right: 20px;
}

.icon {
  font-size: 20px;
  margin: 0 5px;
}

.button:hover,
.button.active:hover {
  color: #eee;
  cursor: pointer;
}

.button.active {
  color: #aaa;
}

.big-input {
  width: 50%;
  height: 50px;
  border: 0;
  padding: 10px;
  font: 18px sans-serif;
  z-index: 10;
}

.rounded {
  border-radius: 5px;
}

.abs-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.hidden {
  display: none;
}

.readme {
  color: #888;
  font-size: 18px;
  background: #222;
  padding: 0 20px 20px 20px;
  margin: 40px 0 0 0;
  border-top: 1px solid #888;
  position: absolute;
  bottom: 0;
  width: calc(100% - 40px);
}

@media only screen
  and (min-width: 0)
  and (max-width: 820px),
  (min-height: 0)
  and (max-height: 870px)
  {
    .readme {
      position: relative;
    }
}
